<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Budget App</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main role="main" class="container">
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>

<footer>
    <p>Budget App - C#, .Net, but mostly JS - Kamil Malawko</p>
</footer>
</html>